
<ul class="book-list">
  <% @books.each do |book| %>
  
    <%# <li> <a href= "books/<%= book.id%>
    <%# <%= book.title %>  
    <%# by <%= book.author %>
    <%# </a></li>  %>
  
  <li>
    <%= link_to book.title, book_path(book.id) %>
    by <%= book.author%>
  </li>
  <% end %>
</ul>

